<footer class="footer">
    <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/Mr.YuvaKeratam/" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link" href="https://www.instagram.com/mr.yuvakeratam/" target="_blank">
            <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://https://github.com/NidamanuriRahulKumar/" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>